#lg1
{
	float:left;
	width:95px;
	height:95px;
	margin-top:0px;
	margin-bottom:5px;
}
#lg2
{
	float:right;
	width:95px;
	height:95px;
	margin-top:0px;
	margin-bottom:25px;
}
.navbar li
 {
 	display:inline-block;	
 }
 .navbar li a:hover
 {
	background-color:grey;
 }
 .navbar li a
 {
	font-size:20px;	
 	display: block;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
	 color:white;
 }
.navbar ul
{
	list-style-type:none;
	background-color:#2f2f2f;
	
}

.foot
{
	background-color: #2f2f2f;
    color: #ffffff;
	text-align:center;
	padding:5px 5px;
	font-size:20px;
}
a:link
 {
 	color:paleyellow;
 }
.header
{
	text-align:right;
	background-color:white;
	padding:1px 1px;
	margin-bottom:-45px;
	margin-top:-15px;
}	
.header h1
{	
	font-family:Arial Black;
	color:DarkSlateGrey;
	margin-bottom:-15px;
	
}
.header h3
 {
	font-family:Georgia;
	text-align:right;
	background-color:white;
	padding:5px 5px;
	font-size:16px;
	margin-bottom:30px;
 }
#lg3
{
	float:left;
	width:50px;
	height:50px;
	margin-top:15px;
}
.what
{
	background-color:#1abc9c;
	color:#ffffff;
	padding:10px 10px;
	text-align:center;
}


